/* .blog-card {
  border: 1px solid black;
} */
.blog-header {
  font-family: "Macondo", cursive;
  font-weight: bold;
}
.blog-card img {
  transition: all 0.4s ease-in;
}
.blog-card img:hover {
  transform: scale(1.1);
  overflow: hidden;
}
